
h1{
	font-size: 152px;
	color:#2F78EF;
}

p{
	text-align: center;
	float:right;
	padding-left:1603px;
	padding-bottom:800px;
}

ul{
	text-align:center;
}

li{
	color:red;
}

body{
	background-color:orange;
	font-family: "Comic Sans MS";
	color: #939b01;
}
